<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gator Trader</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>

    <style>
        body {
            font: 20px Montserrat, sans-serif;
            line-height: 1.8;
            color: #f5f6f7;
        }
        p {font-size: 16px;}
        .margin {margin-bottom: 45px;}
        .bg-1 {
            background-color: #1b96c6; /* blue */
            color: #ffffff;
        }
        .bg-2 {
            background-color: #474e5d; /* Dark Blue */
            color: #ffffff;
        }
        .bg-3 {
            background-color: #ffffff; /* White */
            color: #555555;
        }
        .bg-4 {
            background-color: #2f2f2f; /* Black Gray */
            color: #fff;
        }
        .bg-5{
            background-color: #f0f4fa; /* Light Grey */
            color: #555555;
        }
        .bg-6{
            background-color: #320033; /* Purple */
            color: #ffffff;
        }
        .bg-7{
            background-color: #fbca32; /* Gold */
            color: #000000;
        }
        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }
        .navbar {
            padding-top: 15px;
            padding-bottom: 15px;
            border: 0;
            border-radius: 0;
            margin-bottom: 0;
            font-size: 12px;
            letter-spacing: 5px;
            color: #320033;
        }
        .navbar-nav  li a:hover {
            color: #1abc9c !important;
        }
        .navbar-default {
            background-color: #f2f0eb;
            background-image: none;
            background-repeat: no-repeat;
        }
        .panel-default {
            border-color: #320033;
        }

        a {
            text-decoration: none;
            }

         a:hover 
            {
                text-decoration:none; 
                cursor:pointer;  
            }



    </style>
</head>


<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand" href="/index">Gator Trader</a>
        </div>


        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/new">SELL</a></li>
                <li><a href="/aboutUs">ABOUT US</a></li>
                <li><a href="/signIn"><span class="glyphicon glyphicon-user"></span> ACCOUNT</a></li>
            </ul>
        </div>

        <!-- Search form -->

        <!--dropdown button for search-->
        <form action="/search" method="get">
          <div class="input-group-prepend">
            <select name="category" class="custom-select" id="inputGroupSelect01">
                <option value="" selected>Categories</option>
                <option  value="<%=(typeof category != "undefined" ? category : 1)  %>" > Books</option>
                <option  value="<%=(typeof category != "undefined" ? category : 2)%>" > Electronics</option>
                <option  value="<%=(typeof category != "undefined" ? category : 3)%>" > Furniture</option>
                <option  value="<%=(typeof category != "undefined" ? category : 4)%>" > Tutoring</option>
            </select>
          </div>


            <div class="input-group mb-3">

                <!--Actual search bar-->
                <input id="search" class="form-control" type="text" name="search" value="<%= (typeof searchTerm != "undefined" ? searchTerm : "") %>" placeholder="Search..."  maxlength="40">

                <!--Searchbar search button-->
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" onclick="this.form.submit()">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>


            </div>

        </form>

    </div>
</nav>

<!-- First Container -->

<div class="container-fluid bg-7">
    <div class="container">
       <% for(var i  =0; i<results; i++){ %>
            <div class="panel panel-default">
                <div id="result" class="panel-group">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left media-middle">
                                <img
                                        <% if((searchResult[i]['image'] != null)&& (searchResult[i]['image'] != "")) { %>
                                            src="<%= searchResult[i]['image']%>"
                                        <% }else{ %>
                                            src ="/images/GTLogo.png"
                                        <% } %>
                                        class="media-object"
                                        style="width: 18em"
                                />
                            </div>
                            <div class="media-body text-center">
                                <h4 class="media-heading"><%= searchResult[i]['item_name'] %></h4>
                                <h4 class="media-heading">$<%= searchResult[i]['price'] %></h4>
                                <p><%= searchResult[i]['description'] %> %></p>
                                <button>Contact Seller</button>
                            </div>
                            <div class="media body text-center">
                                <img
                                    class="center"
                                    src="/images/sfsu_map.jpg"
                                    class="media-object"
                                    style="width: 90%"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }%>
    </div>
</div>


<!-- Footer -->
<footer class="container-fluid bg-6 text-center">
    <p><a href="index">Back to Top</a></p>
</footer>

</body>

<script>
</script>

</html>