<!DOCTYPE html>
<style>
  img {
    max-width: 100%;
  }
  .inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
  }
  .inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
    background: #fff;
  }
  .top_spac {
    margin: 20px 0 0;
  }

  .recent_heading {
    float: left;
    width: 40%;
  }
  .srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
    padding: none;
  }
  .headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
  }

  .recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
  }
  .srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
  }
  .srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
  }
  .srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
  }

  .chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
  }
  .chat_ib h5 span {
    font-size: 13px;
    float: right;
  }
  .chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto;
  }
  .chat_img {
    float: left;
    width: 11%;
  }
  .chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
  }

  .chat_people {
    overflow: hidden;
    clear: both;
  }
  .chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
  }
  .inbox_chat {
    height: 550px;
    overflow-y: scroll;
    background: #fff;
  }

  .active_chat {
    background: #ebebeb;
  }

  .incoming_msg_img {
    display: inline-block;
    width: 6%;
  }
  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
  }
  .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
  }
  .received_withd_msg {
    width: 57%;
  }
  .mesgs {
    background: #fff;
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
  }

  .sent_msg p {
    background: #320033 none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
  .outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
  }
  .sent_msg {
    float: right;
    width: 46%;
  }
  .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }

  .type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
  }
  .msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
  }
  .messaging {
    padding: 0 0 50px 0;
  }
  .msg_history {
    height: 516px;
    overflow-y: auto;
  }
</style>

<html lang="en">
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      type="text/css"
      rel="stylesheet"
    />

    <% include ../../partials/head.ejs %>
    <title>Gator Trader | <%= item[0]['item_name'] %></title>
  </head>
  <body>
    <header>
      <%- include('../../partials/headerLoggedIn.ejs', {categories : categories,
      searchTerm : searchTerm}); %>
    </header>
    <div class="container-fluid bg-7">
      <div class="container">
        <h3 class=" text-center">Your Listings</h3>
        <div class="messaging">
          <div class="inbox_msg">
            <div class="inbox_people">
              <div class="headind_srch">
                <div class="recent_heading">
                  <h4>Recent</h4>
                </div>
                <div class="srch_bar">
                  <div class="stylish-input-group">
                    <input
                      type="text"
                      class="search-bar"
                      placeholder="Search"
                    />
                    <span class="input-group-addon">
                      <button type="button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="inbox_chat">
                <div class="chat_list active_chat">
                  <div class="chat_people">
                    <div class="chat_img">
                      <img
                        src="https://ptetutorials.com/images/user-profile.png"
                        alt="sunil"
                      />
                    </div>
                    <div class="chat_ib">
                      <h5>2018 Mac<span class="chat_date">Dec 7</span></h5>
                      <p>
                        Great laptop that I used for 2 years and helped me in
                        all my classes. Got a new one so I am selling this one.
                        Please buy it today!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="chat_list">
                  <div class="chat_people">
                    <div class="chat_img">
                      <img
                        src="https://ptetutorials.com/images/user-profile.png"
                        alt="sunil"
                      />
                    </div>
                    <div class="chat_ib">
                      <h5>
                        Comfortable Chair<span class="chat_date">Dec 3</span>
                      </h5>
                      <p>
                        This is my favorite chair ever but I am selling it
                        because I need money.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="chat_list">
                  <div class="chat_people">
                    <div class="chat_img">
                      <img
                        src="https://ptetutorials.com/images/user-profile.png"
                        alt="sunil"
                      />
                    </div>
                    <div class="chat_ib">
                      <h5>
                        CSC 415 Tutoring<span class="chat_date">Dec 1</span>
                      </h5>
                      <p>
                        I am expert in C and can help you get an A in this
                        class.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="chat_list">
                  <div class="chat_people">
                    <div class="chat_img">
                      <img
                        src="https://ptetutorials.com/images/user-profile.png"
                        alt="sunil"
                      />
                    </div>
                    <div class="chat_ib">
                      <h5>Black Desk<span class="chat_date">Nov 27</span></h5>
                      <p>
                        Desk is too small so I am selling it to buy a bigger
                        one.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="chat_list">
                  <div class="chat_people">
                    <div class="chat_img">
                      <img
                        src="https://ptetutorials.com/images/user-profile.png"
                        alt="sunil"
                      />
                    </div>
                    <div class="chat_ib">
                      <h5>Item 5<span class="chat_date">Nov 22</span></h5>
                      <p>
                        Item 5 description
                      </p>
                    </div>
                  </div>
                </div>
                <div class="chat_list">
                  <div class="chat_people">
                    <div class="chat_img">
                      <img
                        src="https://ptetutorials.com/images/user-profile.png"
                        alt="sunil"
                      />
                    </div>
                    <div class="chat_ib">
                      <h5>
                        Item 6 for Sale<span class="chat_date">Nov 15</span>
                      </h5>
                      <p>
                        Test description for item 6
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mesgs">
              <div class="msg_history">
                <!-- First Container -->
                <% item.forEach(function(listing) { %>
                <div class="panel panel-default">
                  <div id="result" class="panel-group">
                    <div class="panel-body">
                      <div class="media">
                        <div class="media-left media-middle">
                          <img <% if((listing['image'] != null) && (listing['image'] != "")) { %>
                            src="/.upload/<%= listing['image']%>"
                          <% }else{ %>
                            src ="/images/GTLogo.png" <% } %>
                                  class="media-object" style="width: 18em" />
                        </div>
                        <div class="media-body text-center">
                          <h4 class="media-heading">
                            <%= listing['item_name'] %>
                          </h4>
                          <h4 class="media-heading">
                            <%=
                            categories[listing['category_id']-1]['category_name']
                            %>
                          </h4>
                          <h4 class="media-heading">
                            $<%= listing['price'] %>
                          </h4>
                          <p><%= listing['description'] %></p>
                          <br />

                          <button
                            class="btn btn-primary btn-lg"
                            style="background-color: #320033"
                            style="width: 35%"
                          >
                            Edit Listing
                          </button>
                          <br />
                          <br />

                          <button
                            class="btn btn-primary btn-lg"
                            style="background-color: #320033"
                            style="width: 35%"
                          >
                            Delete Listing
                          </button>
                        </div>
                        <div class="media body text-center">
                          <img />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <% include ../../partials/footer.ejs %>
    </footer>
  </body>
</html>
